.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.smurfForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2%;
}

.smurfForm div {
  margin: 3%;
}

form {
  display: flex;
  flex-direction: column;

}

label {
  margin: 5px;
}

.editSubmit {
  width: 25vw;
  position: relative;
  left: 37vw;
}